In [ ]:
%pip install pandas
%pip install xlrd
%pip install openpyxl

In [3]:
import pandas as pd

In [ ]:
dataset_prod_1 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_1.xls","Produtos")
dataset_prod_2 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_2.xls","Query")
dataset_prod_3 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_3.xls","Query")
dataset_prod_4 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_4.xls","Query")
dataset_prod_5 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_5.xls","Query")
dataset_prod_6 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_6.xls","Query")
dataset_prod_7 = pd.read_excel("DATASET/Produtos/Produtos/Produtos_7.xls","Query")

In [ ]:
dataset_prod_merged = pd.concat([dataset_prod_1,dataset_prod_2,dataset_prod_3,dataset_prod_4,dataset_prod_5,dataset_prod_6,dataset_prod_7])

In [ ]:
print(dataset_prod_merged)

      Código                           Nome                      Descrição  \
0          1              TESTE HOMOLOGACAO              TESTE HOMOLOGACAO
1          2      PENALTY 353026-645 TACTEL      PENALTY 353026-645 TACTEL
2          3      PENALTY 353028-650 TACTEL      PENALTY 353028-650 TACTEL
3          4      PENALTY 353028-625 TACTEL      PENALTY 353028-625 TACTEL
4          5  PENALTY 353025-652 MICROFIBRA  PENALTY 353025-652 MICROFIBRA
...      ...                            ...                            ...
1400  396297       COLUMBIA 1464091/464 MHO       COLUMBIA 1464091/464 MHO
1401  396298       COLUMBIA 1911321/011 PTO       COLUMBIA 1911321/011 PTO
1402  396299       COLUMBIA 1682201/030 CZA       COLUMBIA 1682201/030 CZA
1403  396300       COLUMBIA 1682201/010 PTO       COLUMBIA 1682201/010 PTO
1404  396301        KILDARE 232N MALTE CITY        KILDARE 232N MALTE CITY

     Unidade  Fornecedor  Marca  Estoque  Situação Tributária  IPI de Entrada  \
0         UN         NaN    0.0      NaN                  0.0             0.0
1         UN         NaN    0.0      NaN                  NaN             0.0
2         UN         NaN    0.0      NaN                  NaN             0.0
3         UN         NaN    0.0      NaN                  NaN             0.0
4         UN         NaN    0.0      NaN                  NaN             0.0
...      ...         ...    ...      ...                  ...             ...
1400      UN         NaN    NaN      NaN                  0.0             NaN
1401      UN         NaN    NaN      NaN                  0.0             NaN
1402      UN         NaN    NaN      NaN                  0.0             NaN
1403      UN         NaN    NaN      NaN                  0.0             NaN
1404      PR         NaN    NaN      NaN                  0.0             NaN

      IPI de Saída  ...  Classificação13  Classificação14  Classificação15  \
0              0.0  ...                3                0              230
1              0.0  ...                3                2                1
2              0.0  ...                3                2                1
3              0.0  ...                3                2                1
4              0.0  ...                3                2                1
...            ...  ...              ...              ...              ...
1400           NaN  ...                1                2              203
1401           NaN  ...                1                2              203
1402           NaN  ...                1                2              203
1403           NaN  ...                1                2              203
1404           NaN  ...                2                3              173

      Marcação       CEST  EAN  NCM  Código do Benefício  \
0            0  1234567.0  NaN  NaN                  NaN
1            0        NaN  NaN  NaN                  NaN
2            0        NaN  NaN  NaN                  NaN
3            0        NaN  NaN  NaN                  NaN
4            0        NaN  NaN  NaN                  NaN
...        ...        ...  ...  ...                  ...
1400         3        NaN  NaN  NaN                  NaN
1401         3        NaN  NaN  NaN                  NaN
1402         3        NaN  NaN  NaN                  NaN
1403         3        NaN  NaN  NaN                  NaN
1404         1        NaN  NaN  NaN                  NaN

      Descrição para Internet  Habilitado para Internet
0                         NaN                       NaN
1                         NaN                       NaN
2                         NaN                       NaN
3                         NaN                       NaN
4                         NaN                       NaN
...                       ...                       ...
1400                      NaN                       NaN
1401                      NaN                       NaN
1402                      NaN                       NaN
1403                      NaN                       NaN
1404                      NaN                       NaN

[394615 rows x 51 columns]

In [ ]:
print(len(dataset_prod_merged))
size_all_prod_datasets = len(dataset_prod_1) + len(dataset_prod_2) + len(dataset_prod_4)+ len(dataset_prod_3)+ len(dataset_prod_5)+ len(dataset_prod_6)+ len(dataset_prod_7)
if len(dataset_prod_merged) == size_all_prod_datasets :
    print("Size is correct!")

if len(dataset_prod_merged.columns) == len(dataset_prod_1.columns):
    print("Number of columns is correct")

print("Concatenation was correctly made!")

394615
Size is correct!
Number of columns is correct
Concatenation was correctly made!

In [ ]:
print(dataset_prod_merged.columns)

Index(['Código', 'Nome', 'Descrição', 'Unidade', 'Fornecedor', 'Marca',
       'Estoque', 'Situação Tributária', 'IPI de Entrada', 'IPI de Saída',
       'ICMS de entrada', 'Base de ICMS reduzida na entrada', 'ICMS de saída',
       'Base de ICMS reduzida na saída', 'Referência', 'Localização',
       'Não Incluir na Lista de Preços', 'Margem', 'Classificação Fiscal',
       'Classificação1', 'Classificação2', 'Classificação3', 'Classificação4',
       'Classificação5', 'Classificação6', 'Classificação7', 'Classificação8',
       'Classificação9', 'Observações', 'Código Anterior',
       'Data da última atualização', 'Nome da marca', 'Complemento',
       'Desconto Promocional', 'Saldo', 'Lucratividade', 'Coleção',
       'Comprador', 'Classificação10', 'Classificação11', 'Classificação12',
       'Classificação13', 'Classificação14', 'Classificação15', 'Marcação',
       'CEST', 'EAN', 'NCM', 'Código do Benefício', 'Descrição para Internet',
       'Habilitado para Internet'],
      dtype='object')

In [ ]:
ds_prod = dataset_prod_merged[["Código","Nome","Unidade","Data da última atualização","Nome da marca","Classificação11","Classificação12","Classificação13","Classificação14","Classificação15"]]

In [ ]:
print(ds_prod.columns)

Index(['Código', 'Nome', 'Unidade', 'Data da última atualização',
       'Nome da marca', 'Classificação11', 'Classificação12',
       'Classificação13', 'Classificação14', 'Classificação15'],
      dtype='object')

In [ ]:
ds_cl_prod = pd.read_excel("DATASET/Produtos/Produtos/Classificacoes_dos_produtos.xlsx",nrows=900)

In [ ]:
print(ds_cl_prod)

     Classificação  Código                Nome  Classificação Fiscal  \
0                1       1              ABRIGO                  61.0
1                1       2              AGENDA                  49.0
2                1       3              AGULHA                  95.0
3                1       4           ALPARGATA                  64.0
4                1       5            APARELHO                  95.0
..             ...     ...                 ...                   ...
667             15     376            ELASTICO                   NaN
668             15     377  ESCADA TREINAMENTO                   NaN
669             15     378         PORTA DOLAR                   NaN
670             15     379              ESCOVA                   NaN
671             15     380         TENIS ELBOW                   NaN

     Classificação Fiscal Completa
0                       61034900.0
1                       49019900.0
2                       95069900.0
3                       64059000.0
4                       95069100.0
..                             ...
667                            NaN
668                            NaN
669                            NaN
670                            NaN
671                            NaN

[672 rows x 5 columns]

In [ ]:
ds_cl_prod_merged = ds_cl_prod[["Classificação","Código","Nome"]]

In [ ]:
print(ds_prod.tail())

      Código                      Nome Unidade Data da última atualização  \
1400  396297  COLUMBIA 1464091/464 MHO      UN        2022-11-25 00:00:00
1401  396298  COLUMBIA 1911321/011 PTO      UN        2022-11-25 00:00:00
1402  396299  COLUMBIA 1682201/030 CZA      UN        2022-11-25 00:00:00
1403  396300  COLUMBIA 1682201/010 PTO      UN        2022-11-25 00:00:00
1404  396301   KILDARE 232N MALTE CITY      PR        2022-11-28 00:00:00

     Nome da marca  Classificação11  Classificação12  Classificação13  \
1400      COLUMBIA                3                2                1
1401      COLUMBIA                3                2                1
1402      COLUMBIA                3                2                1
1403      COLUMBIA                3                2                1
1404       KILDARE                1                3                2

      Classificação14  Classificação15
1400                2              203
1401                2              203
1402                2              203
1403                2              203
1404                3              173

In [ ]:
print(ds_cl_prod_merged.tail())

     Classificação  Código                Nome
667             15     376            ELASTICO
668             15     377  ESCADA TREINAMENTO
669             15     378         PORTA DOLAR
670             15     379              ESCOVA
671             15     380         TENIS ELBOW

In [ ]:
ds_cl_prod_11 = ds_cl_prod_merged.loc[ds_cl_prod_merged['Classificação'] == 12].rename(columns={"Código":"Código_Class_11","Nome":"Nome_Class_11"})
ds_cl_prod_12 = ds_cl_prod_merged.loc[ds_cl_prod_merged['Classificação'] == 12].rename(columns={"Código":"Código_Class_12","Nome":"Nome_Class_12"})
ds_cl_prod_13 = ds_cl_prod_merged.loc[ds_cl_prod_merged['Classificação'] == 13].rename(columns={"Código":"Código_Class_13","Nome":"Nome_Class_13"})
ds_cl_prod_14 = ds_cl_prod_merged.loc[ds_cl_prod_merged['Classificação'] == 14].rename(columns={"Código":"Código_Class_14","Nome":"Nome_Class_14"})
ds_cl_prod_15 = ds_cl_prod_merged.loc[ds_cl_prod_merged['Classificação'] == 15].rename(columns={"Código":"Código_Class_15","Nome":"Nome_Class_15"})

In [ ]:
print(ds_cl_prod_15)

     Classificação  Código_Class_15       Nome_Class_15
300             15                0                   .
301             15                1              ABRIGO
302             15                2              AGULHA
303             15                3              AJUSTE
304             15                4             ALICATE
..             ...              ...                 ...
667             15              376            ELASTICO
668             15              377  ESCADA TREINAMENTO
669             15              378         PORTA DOLAR
670             15              379              ESCOVA
671             15              380         TENIS ELBOW

[372 rows x 3 columns]

In [ ]:
print(ds_prod.head())

   Código                           Nome Unidade Data da última atualização  \
0       1              TESTE HOMOLOGACAO      UN        2016-06-27 00:00:00
1       2      PENALTY 353026-645 TACTEL      UN        2012-06-15 00:00:00
2       3      PENALTY 353028-650 TACTEL      UN                        NaT
3       4      PENALTY 353028-625 TACTEL      UN                        NaT
4       5  PENALTY 353025-652 MICROFIBRA      UN                        NaT

  Nome da marca  Classificação11  Classificação12  Classificação13  \
0         TESTE                0                3                3
1       PENALTY                3                2                3
2       PENALTY                3                3                3
3       PENALTY                3                2                3
4       PENALTY                3                3                3

   Classificação14  Classificação15
0                0              230
1                2                1
2                2                1
3                2                1
4                2                1

In [ ]:
ds_prod = pd.merge(ds_prod,ds_cl_prod_11[['Código_Class_11','Nome_Class_11']], left_on='Classificação11', right_on='Código_Class_11', how='left').drop(columns=["Código_Class_11"])
ds_prod = pd.merge(ds_prod,ds_cl_prod_12[['Código_Class_12','Nome_Class_12']], left_on='Classificação12', right_on='Código_Class_12', how='left').drop(columns=["Código_Class_12"])
ds_prod = pd.merge(ds_prod,ds_cl_prod_13[['Código_Class_13','Nome_Class_13']], left_on='Classificação13', right_on='Código_Class_13', how='left').drop(columns=["Código_Class_13"])
ds_prod = pd.merge(ds_prod,ds_cl_prod_14[['Código_Class_14','Nome_Class_14']], left_on='Classificação14', right_on='Código_Class_14', how='left').drop(columns=["Código_Class_14"])
ds_prod = pd.merge(ds_prod,ds_cl_prod_15[['Código_Class_15','Nome_Class_15']], left_on='Classificação15', right_on='Código_Class_15', how='left').drop(columns=["Código_Class_15"])

In [ ]:
print(ds_prod.tail())

        Código                      Nome Unidade Data da última atualização  \
394610  396297  COLUMBIA 1464091/464 MHO      UN        2022-11-25 00:00:00
394611  396298  COLUMBIA 1911321/011 PTO      UN        2022-11-25 00:00:00
394612  396299  COLUMBIA 1682201/030 CZA      UN        2022-11-25 00:00:00
394613  396300  COLUMBIA 1682201/010 PTO      UN        2022-11-25 00:00:00
394614  396301   KILDARE 232N MALTE CITY      PR        2022-11-28 00:00:00

       Nome da marca  Classificação11  Classificação12  Classificação13  \
394610      COLUMBIA                3                2                1
394611      COLUMBIA                3                2                1
394612      COLUMBIA                3                2                1
394613      COLUMBIA                3                2                1
394614       KILDARE                1                3                2

        Classificação14  Classificação15 Nome_Class_11 Nome_Class_12  \
394610                2              203         GERAL     ESPORTIVO
394611                2              203         GERAL     ESPORTIVO
394612                2              203         GERAL     ESPORTIVO
394613                2              203         GERAL     ESPORTIVO
394614                3              173      BOUTIQUE         GERAL

       Nome_Class_13 Nome_Class_14     Nome_Class_15
394610      FEMININO       INVERNO             TOUCA
394611      FEMININO       INVERNO             TOUCA
394612      FEMININO       INVERNO             TOUCA
394613      FEMININO       INVERNO             TOUCA
394614     MASCULINO         ANUAL  SAPATO SAPATENIS

In [ ]:
ds_cl_prod = pd.read_excel("DATASET/Produtos/Produtos/Classificacoes_dos_produtos.xlsx",nrows=900)

In [ ]:
dataset_detMov_2018_1 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2018_Esportes_1.xls","Query")
dataset_detMov_2018_2 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2018_Esportes_2.xls","Query")
dataset_detMov_2019_1 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2019_Esportes_1.xls","Query")
dataset_detMov_2019_2 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2019_Esportes_2.xls","Query")
dataset_detMov_2020_1 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2020_Esportes_1.xls","Query")
dataset_detMov_2020_2 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2020_Esportes_2.xls","Query")
dataset_detMov_2021_1 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2021_Esportes_1.xls","Query")
dataset_detMov_2021_2 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2021_Esportes_2.xls","Query")
dataset_detMov_2022 = pd.read_excel("DATASET/DetalheMovimentação/DetalheMovimentação_2022_Esportes.xls","Query")

In [ ]:
dataset_detMov_merged = pd.concat([dataset_detMov_2018_1,dataset_detMov_2018_2,dataset_detMov_2019_1,dataset_detMov_2019_2,dataset_detMov_2020_1,dataset_detMov_2020_2,dataset_detMov_2021_1,dataset_detMov_2021_2,dataset_detMov_2022])

In [ ]:
print(dataset_detMov_merged)

In [ ]:
dataset_detMov = dataset_detMov_merged[["Data do Movimento","Operação","Produto","Tamanho","Quantidade","Valor original"]]

In [ ]:
ds_tam_aux = pd.read_excel("DATASET/Tamanhos/Tamanhos.xlsx","Tamanhos")
ds_tam = ds_tam_aux.rename(columns={"Código":"Código_Tamanho","Nome":"Nome_Tamanho"})

In [ ]:
dataset_detMov = pd.merge(dataset_detMov,ds_tam, left_on='Tamanho', right_on='Código_Tamanho', how='left').drop(columns=["Código_Tamanho"])

In [ ]:
print(dataset_detMov.tail())

In [ ]:
ds_prod = ds_prod.rename(columns={"Código":"Código_Produto","Nome":"Nome_Produto", "Unidade":"Unidade_Produto", "Data da última atualização":"DataUltimaAtualização_Produto","Nome da marca": "NomeMarca_Produto","Classificação11": "Classificação11_Produto","Classificação12": "Classificação12_Produto","Classificação13": "Classificação14_Produto","Classificação14": "Classificação16_Produto","Classificação15": "Classificação15_Produto", "Nome_Class_11": "Nome_Class_11_Produto", "Nome_Class_12": "Nome_Class_12_Produto", "Nome_Class_13": "Nome_Class_13_Produto", "Nome_Class_14": "Nome_Class_14_Produto", "Nome_Class_15": "Nome_Class_15_Produto"})

dataset_detMov = pd.merge(dataset_detMov, ds_prod, left_on='Produto', right_on='Código_Produto', how='left').drop(columns=["Código_Produto"])

In [ ]:
print(dataset_detMov.head(5))